/*Header*/
@media (min-width: 750px) {

    .header-options > button{
        display: none;
    }
    .header-texto-options{
        max-width: 600px;
        width: 100%;

        margin-left: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-texto-options > h3{
        color: black;

        font-size: 12px;
    }
}
/*Mian, el boton*/
@media (min-width: 425px) {
    .main-options > button{
        max-width: 180px;
    
        font-size: 15px;
    }
}
@media (min-width: 860px) {
    .main-options > button{
        max-width: 200px;
    
        font-size: 15px;
    }
}

/*Seccion 1 productos*/
@media (min-width: 700px){
    .container-img > img{
        margin-top: 15px;
        margin: auto;

        width: 100%;
        max-width: 220px;
    }
}
@media (min-width: 760px){
    .container-img > img{
        margin-top: 15px;
        margin: auto;

        width: 100%;
        max-width: 300px;
    }
}