*{
  font-family: "Edu VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --main-color: #004d9f;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    outline: none !important;
}
body {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 1.1em;
    color:  var(--main-color);
    padding: 0;
    margin: 0;
    background-color: #fff;
}
img{
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: inline-block;
}
.container {
	width: 100%;
	max-width: 1000px;
	padding-left: 15px;
	padding-right: 15px;
    margin: auto;
}

.header{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
}
.header-logo > a > img{
    width: 100%;
    max-width: 80px;
    height: auto;
    display: block;
}

.header-options > button > img{
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
}

.header-options > button{
    width: 100%;
    max-width: 50px;
    height: auto;
    background-color: #fff;
    display: block;
    border: none;
}
.header-texto-options{
    display: none;
}

/*Main*/

.container-background{
	width: 100%;
	max-width: 1000px;
    margin: auto;
    padding: auto;

    position: relative;
}
.main-background > img{
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
}
.main-options > button{
    background-color: #e68e28;
    color: #000;
    width: 100%;
    max-width: 100px;
    height: auto;

    padding: 10px;
    
    border: none;
    border-radius: 5px;

    font-size: 8px;

    position: absolute;
    left: 25%;
    top: 70%;
    transform: translateX(-50%);  
}

/*Seccion 1*/
.section-1-shop > h1{
    text-align: center;

    color: #000;
    font-weight: 600;
}
.container-img{
    width: 100%;
    max-width: 1000px;

    margin: auto;

    display: flex;
    flex-wrap: wrap;
    
}
.container-img > img{
    margin-top: 15px;
}
/*Pie de pagina*/
.footer{
    background-color: #000;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 30px;
    margin-top: 15px;
}
.footer-text, .footer-text-title{
    font-family: Arial, Helvetica, sans-serif;
}
.footer-text{
    color: gray;
}
.footer-text-title{
    color: #d3d3d3;
    font-size: 22px;
}
.footer-contact{
    padding-left: 30px;
}
ul,li{
    list-style-type: none;
    padding-right: 30px;
}
