:root {
  --main-color: #004d9f;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    outline: none !important;
}
body {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 1.1em;
    color:  var(--main-color);
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.container {
	width: 100%;
	max-width: 1000px;
	padding-left: 15px;
	padding-right: 15px;
    margin: auto;
}

.header{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
}
.header-logo > img{
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
}

.header-options > button > img{
    width: 100%;
    max-width: 30px;
    height: auto;
    display: block;
}

.header-options > button{
    width: 100%;
    max-width: 30px;
    height: auto;
    background-color: #fff;
    display: block;
    border: none;
}
.header-texto-options{
    display: none;
}

/*Main*/

.container-background{
	width: 100%;
	max-width: 1000px;
    margin: auto;
}
.main-background > img{
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
}