/*Pagina de privacidad*/
.privaciti{
    padding-right: 20px;
    padding-left: 20px;

    text-align: left;
}
.privaciti-text, .privaciti-title{
    font-family: Arial, Helvetica, sans-serif;
}
.privaciti-text{
    color: #3d3d3d;
    letter-spacing: 2px;
}
.privaciti-title{
    letter-spacing: 5px;

    color: #000;

    font-weight: 700;
    font-size: 44px;
}
.privaciti-text-paragraph{
    padding-top: 20px;
}

/*Page legal*/
.legality{
    padding: 20px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #3d3d3d;

    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 44px;
}
.legality-paragraph{
    margin-top: 20px;
}
.legality-title{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}
.legality-text{
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d;
    letter-spacing: 2px;
}
strong{
    font-family: Arial, Helvetica, sans-serif;
}